.content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    overflow: hidden;
    width: 100%;
}

.auth-hr {
    border: none;
    height: 1px;
    background-color: #e1e1e1 !important;
    margin: 15px 0;
}

.chat-container {
    width: 1000px;
    height: 600px;  
    border: 1px solid #e1e1e1;
    border-radius: 10px;    

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 10px;
    padding: 40px;
}

img {
    width: 42px;
}

.chat-container p {
    padding: 10px;
}

.chatbot-intro-top ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.chat-container .chatbot-intro-top ul li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.chatbot-intro-top ul li span {
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #727272;
    flex: 0 0 200px;
}

.btn-chat-intro {
    background-color: transparent;
    color : #214da0;
    border: 1px solid #214da0;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 16px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}

.chatbot-intro-top ul li span:before {
    content: '';
    width: 16px;
    height: 16px;
}

.chatbot-intro-top ul li span.intro-description1:before {
    background: url(../images/chatbot/ico-analytics.svg) center center / contain no-repeat;
}

.chatbot-intro-top ul li span.intro-description2:before {
    background: url(../images/chatbot/ico-information.svg) center center / contain no-repeat;
}

.chatbot-intro-top ul li span.intro-description3:before {
    background: url(../images/chatbot/ico-dsearch.svg) center center / contain no-repeat;
}

.chatbot-intro-top ul li button:nth-child(2) {
    width: 274px;
}

.chatbot-intro-top ul li button:nth-child(3) {
    width: 274px;
}

.chatbot-intro-bottom {
    border-top: 1px solid #E6E8EB;
    padding: 24px 0 24px;
    font-size: 16px;
}

.btn-outline-gray {
    color: #666;
    border: 1px solid #666;
    background-color: transparent;
}

.btn-medium {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 28px;
    font-size: 14px;
    border-radius: 2px;
    padding: 0 16px;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
}

.chatbot-intro-bottom ul li span {
    display: inline-block;
    margin-left: 8px;
    font-size: 14px;
    color: #727272;
}

.chatbot-footer {
    width: 100%;
    padding: 23px 0 24px 0;
    position: fixed;
    bottom: 0;
}

.textarea-wrap input {
    font-size: 16px;
    border: 0;
    width: 82%;
    height: 44px;
    outline: 0;
    border-radius: 8px;
}

.chatbot-footer .btn-refresh {
    display: flex;
    align-items: center;
    line-height: 42px;
    border-radius: 50px;
    font-size: 14px;
    color: #fff;
    background-color: #019546;
    gap: 5px;
    padding: 0 16px;
}

.chatbot-input .textarea-wrap label {
    line-height: 14px;
    display: block;
    width: 100%;
    height: 100%;
    cursor: text;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    background-color: #fff;
}


.chatbot-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 8px;
    width: 1000px;
}

.chatbot-input-new,
.chatbot-input-send {
    display: flex;
    align-items: center;
}

.chatbot-input-text {
    flex-grow: 1;
    margin: 0 10px;
}

.chatbot-input-text input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-new {
    padding: 8px 16px;
    font-size: 14px;
    color: #214da0;
    background-color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-send {
    padding: 8px 16px;
    font-size: 14px;
    color: white;
    background-color: #214da0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-new:hover,
.btn-send:hover {
    opacity: 0.7;
}
