/* Sidebar */
.sidebar {
    grid-area: sidebar;
}

.sidebar h6 { 
    margin-bottom: 1.5rem;
    font-size: 1rem; /* 더 큰 크기 */
}

.sidebar ul {
    list-style: none;
    margin-bottom: 30px;
}

.sidebar ul li {
    font-size: 0.9rem; /* 더 큰 크기 */
    margin-left: 0.1rem;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar ul li input[type="checkbox"] {
    background-color: white;
    width: 20px;
    height: 20px;
    border: 1.5px solid #e1e1e1;
    border-radius: 3px;
    margin-right: 0.6rem;
    appearance: none;
}

.sidebar ul li input[type="checkbox"]:checked {
    background-color: #000099;
    border-color: #000099;
}

.sidebar ul li input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    width: 6px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    top: 2px;
    left: 5px;
}

.sidebar ul li input[type="checkbox"]:hover {
    border-color: #000099;
}

.item-value {
    margin-left: auto;
    font-size: 0.8rem; /* 더 큰 크기 */
    color: #6fc3ee;
}

.aside-hr {
    border: none;
    height: 1px;
    background-color: #e1e1e1 !important;
    margin: 15px 0;
}

/* Main Content */
.main-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 20px; /* 간격 증가 */
    margin-left: 1.5rem; /* 여백 증가 */
}

/* 인기 데이터 및 최신 데이터 레이아웃 */
.popular-latest-container {
    display: flex;
    gap: 14px; /* 간격 증가 */
}

.popular-section, .latest-section {
    display: flex;
    flex-direction: column;
    gap: 8px; /* 간격 증가 */
    flex: 1;
}

.popular-section h6, .latest-section h6 {
    font-size: 0.9rem; /* 더 큰 크기 */
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
    font-weight: 700;
}

.popular-data, .latest-data {
    display: flex;
    flex-direction: center;
    padding: 12px;
    border-radius: 4px; /* 더 둥글게 */
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.1s ease;
    cursor: pointer;

    overflow: hidden;
    position: relative;
    min-height: 5.6rem;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    padding: 10px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    border-radius: 2px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

/* 첫 슬라이드 체크 시 */
#latest-slide1:checked ~ #latest-data-slide-1 {
    opacity: 1;
    transform: translateX(0);
}

#latest-slide2:checked ~ #latest-data-slide-1 {
    transform: translateX(-100%);
}

/* 두 번째 슬라이드 체크 시 */
#latest-slide2:checked ~ #latest-data-slide-2 {
    opacity: 1;
    transform: translateX(0);
}

#latest-slide1:checked ~ #latest-data-slide-2 {
    transform: translateX(100%);
}


/* 첫 슬라이드 체크 시 */
#popular-slide1:checked ~ #popular-data-slide-1 {
    opacity: 1;
    transform: translateX(0);
}

#popular-slide2:checked ~ #popular-data-slide-1 {
    transform: translateX(-100%);
}

/* 두 번째 슬라이드 체크 시 */
#popular-slide2:checked ~ #popular-data-slide-2 {
    opacity: 1;
    transform: translateX(0);
}

#popular-slide1:checked ~ #popular-data-slide-2 {
    transform: translateX(100%);
}


/* 슬라이드 전환 버튼 */
.slide-controls {
    text-align: center;
    margin-top: 10px;
}

.control-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.control-dot:hover {
    background-color: #888;
}



.popular-data:hover, .latest-data:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}   

.slide img {
    width: 4rem;
    height: auto; /* 이미지 비율 유지 */
    object-fit: contain;
    padding: 5px;
}

.data-item {
    font-size: 0.9rem;
    padding: 12px;
}

.data-item p {
    font-size: 0.78rem;
    color: #a6a6a6;
    padding-top: 6px;
}

/* 데이터 테이블 */
.data-table {
    display: flex;
    flex-direction: column;
    gap: 14px; /* 간격 증가 */
}

.search-container {
    width: 100%;
    background-color: #eceef6 !important;
    padding: 30px 0; /* 패딩 증가 */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 4px; /* 더 둥글게 */
}

.search-bar {
    background-color: #eceef6 !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 42%; /* 검색바 너비 증가 */
    gap: 10px;
    margin-top: 30px;
    border: none;
}

.search-bar input {
    flex: 1;
    padding: 8px; /* 패딩 증가 */
    border-radius: 3px;
    border: 1px solid #ccc;
    border-radius: 3px;
    border: 1px solid #fff;
    height: 100%;
    font-size: 0.9rem; /* 더 큰 크기 */
    box-shadow: 0 0 5px rgba(0, 153, 255, 0.5); /* 항상 그림자 추가 */
    transition: box-shadow 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.search-bar input:focus {
    outline: none; /* 포커스 시 아웃라인 제거 */
    box-shadow: 0 0 5px rgba(0, 153, 255, 0.5); /* 포커스 시에도 그림자 유지 */
}

.search-bar button {
    background-color: #214da0; /* 남색 배경 */
    padding: 8px 20px; /* 높이 및 넓이 증가 */
    border-radius: 6px; /* 더 둥글게 */
    color: white; /* 흰색 글씨 */
    border: none;
    cursor: pointer;
    font-size: 0.9rem; /* 더 큰 크기 */
    transition: opacity 0.1s ease; /* 부드러운 전환 효과 추가 */
}

.search-bar button:hover {
    opacity: 0.3; /* 호버 시 불투명도 감소 */
}

.search-description {
    background-color: #eceef6 !important;
    font-size: 0.8rem; /* 더 큰 크기 */
    width: 42%; /* 검색바 너비에 맞춤 */
    color: #666;
    text-align: left;
}

/* 메인 이미지 */
.main-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px; /* 아래 여백 증가 */
}

.main-image img {
    width: 100%;
    height: auto;
}

.dropdown-img {
    width: 30px;
    height: auto;
}

.table-header {
    display: flex; /* 수평으로 정렬 */
    justify-content: space-between; /* 양쪽 끝에 배치 */
    align-items: center; /* 수직 중앙 정렬 */
    padding: 10px; /* 여백 */
    border-bottom: 1px solid; /* 하단 테두리 */
}

.item-count {
    font-size: 1rem; /* 글씨 크기 */
    color: #333; /* 글씨 색 */
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 왼쪽 정렬 */
}

.button-container {
    margin-top: 10px; /* 테이블과 버튼 간의 간격 조정 */
    width: 100%; /* 버튼 컨테이너 너비를 100%로 설정 */
    display: flex;
    justify-content: flex-end; /* 오른쪽 정렬 */
}

.add-button {
    background-color: #214da0; /* 원하는 배경색 */
    color: white; /* 글씨 색상 */
    padding: 10px 20px; /* 패딩 조정 */
    border: none; /* 기본 테두리 제거 */
    border-radius: 5px; /* 둥글게 만들기 */
    cursor: pointer; /* 커서 포인터 변경 */
}

.add-button:hover {
    opacity: 0.8; /* 호버 시 불투명도 조정 */
}

.data-table {
    width: 100%; /* 테이블 너비 설정 */
    border-collapse: collapse; /* 경계선 합치기 */
    
}

.data-table th, .data-table td {
    padding: 15px; /* 셀 패딩 */
    
    border-bottom: 1px solid #ddd; /* 하단 경계선 추가 */
    display: flex; /* 플렉스박스 사용 */
    justify-content: space-between; /* 공간을 균등하게 분배 */
}

.data-table tr {
    display: flex; /* 플렉스박스 사용 */
}

.data-table th {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    min-width: 5px;
    justify-content: center;
    color: #a6a6a6;
}

.data-name {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.data-name-container {
    display: flex;
    justify-content: start;
}

.data-name span {
    margin-left: 4px;
}

.data-name-label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    background-color: #ff5165;
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
    line-height: 1;
    margin-top: 2px;
}

.data-file-label {
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    font-size: 0.7rem;
    padding-top: 6px;
}

.data-file-label span {
    border: 1px solid #0f6cb6;
    color: #0f6cb6;
    padding: 2px;
}

.data-name-content {
    text-decoration: none;
    transition: text-decoration 0.3s;
}

.data-name-content:hover {
    text-decoration: underline;
}


.data-table td {
    min-width: 20px; /* 최소 너비 설정 */
    text-align: left; /* 헤더 및 셀 텍스트 중앙 정렬 */
}


.star-icon {
    width: 14px; /* 아이콘 너비 */
    height: 14px; /* 아이콘 높이 */
    margin-right: px; /* 아이콘과 텍스트 간 간격 */
    vertical-align: middle; /* 텍스트와 수직 정렬 */
}


.pagination-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 160px;
}

.pagination-container input[type="radio"] {
    display: none; /* 라디오 버튼 숨기기 */
}

.pagination-label {
    background-color: white;
    border: 2px solid transparent;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: border-color 0.2s, background-color 0.2s;
    display: inline-block;
    text-align: center;
}

.pagination-label:hover {
    border-color: #214da0;
}

input[type="radio"]:checked + .pagination-label {
    background-color: #214da0;
    color: white;
}


.dots {
    align-self: center; /* 중앙 정렬 */
    font-size: 0.9rem; /* 글씨 크기 */
    color: #333; /* 글씨 색상 */
}

.data-dropdown {
    position: relative; /* 드롭다운 위치 설정 */
    display: inline-block; /* 버튼과 리스트를 inline-block으로 설정 */
}

.dropdown-toggle {
    background-color: white; /* 배경색 */
    border: 1px solid #ccc; /* 테두리 */
    padding: 10px; /* 패딩 */
    border-radius: 4px; /* 모서리 둥글게 */
    cursor: pointer; /* 커서 포인터 */
}

.dropdown-select {
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }


.data-dropdown:hover .data-dropdown-list {
    display: block;
}


.dropdown-list li a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: #000; /* 링크 색상 */
}

.dropdown-list li:hover {
    background-color: #f0f0f0; /* 호버 시 배경색 변경 */
}




.star-label {
    cursor: pointer;
    display: inline-block;
}

.star-checkbox:checked + .star-icon {
    content: url("../images/data/star-svgrepo-com-filled.png"); /* 체크 시 채워진 별 이미지로 변경 */
}

