.info_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between; 

    height: 10%;
    width: 100%;
    
}


#info_box1 {
    margin-top: 50px;

    padding: 0px;
    text-align: center;
    height: 90px;
    width: 430px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}

#info_image1{
    width: 52px; height: 52px; display:inline; margin:0px;
}

#box1_title{
    display: inline; margin:0px; padding:0px;
}
#box1_span{
    display: block;
    margin-left: 50px;
    font-size: 10px;
    white-space: nowrap;
}

#info_box2 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 430px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box3 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box4 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box5 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box6 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box7 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box8 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box9 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}
#info_box10 {
    margin-top: 50px;
    
    padding: 0px;
    text-align: center;
    height: 90px;
    width: 390px;
    white-space: nowrap;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 0.3px;
}





#info_header {

    white-space: nowrap;
}

#footer {
    display : flex;
    justify-content: center;
}

.infographic_container1{

    display : flex;
    justify-content: center;
    flex-wrap: nowrap;
    height: 100%;
}

.info_search {
    display : inline;
    white-space: nowrap;

}

.infographic_container2{
    
    display : inline-block;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

#info_select {

    border: 1px, solid, black;
}

.info_input {
    display: inline-block;
    border: 1px, solid, black;
}

#info_submit {
    
    border: 1px, solid, black;
    display: inline-block;
    
}

.info_hangmok {
    
    display: block;
    border-bottom: 2px, solid, black;
    margin-top: 50px;
    margin-bottom: 10px;

}


.chart_info1 {

    margin-top: 0px;
    margin-left: 0px;
    display: inline-block;
    font-size: 14px;
    color: blue;
    white-space: nowrap;
    
    
    
}

.chart_info2 {
    
    margin-right: 0px;
    display: inline;
    font-size: 30px;
    font-weight: bold;
    white-space: nowrap; 
    
    
}

.info1_a{

    border: 3px, solid, black !important;
    
    width: 150px;
    height: 170px;
}


.chart_info2 {
    

    margin-right: 300px;
    display: inline-block;
    

}


/* 메인배너이미지 */
.main-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* 아래 여백 증가 */
}

.main-image img {
    width: 100%;
    height: auto;
}
