        .main-banner-img-grid{
            display: grid;
            grid-template-columns: 5% 45% 45% 5%;
            grid-template-rows: 10% 80% 10% ;
        }

        .background-color-empty {
            background-color : transparent;
        }
        .main-grid{
            display : grid;
        }

        .main-flex {
            display : flex;
        }
        
        .main-flex-content-center {
            justify-content: center;
        }
        .main-justify-content-flex-start {
            justify-content: flex-start;
        }
        .main-justify-content-flex-around {
            justify-content: space-around;
        }
        .main-flex-direction {
            flex-direction: column;
        }

        .main-text-align-center {
            text-align: center;
        }

        

        .z-index {
            z-index: 2;
        }
        
        .left-button {
            left: 10px; 
        }
        
        .right-button {
            right: 10px; 
        }

        .main-align-item{
            align-items : center;
        }

        .main-align-itemup{
            align-items : flex-start;
        
        }
        
        

        .main-banner-baseset {
            height: 500px;
        
        }
        .background-color244 {
            background-color: rgb(244, 244, 244);
        }
        .background-color255 {
            background-color: white;
        }

        .main-banner-img-preset {
            margin: 0 auto;
            width : 1200px;
            height: 500px;
            border-radius: 20px;
            background-image: url("../images/main/main-home-img.jpg");
            background-size: cover;
        }
       

      


        .main-banner-item-leftgird{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        
        }
        .main-bannerset2{
            display : grid;
            grid-column: 2 / 5;
            grid-row: 2 / 3;
            grid-template-rows: 28% 15% 55% ;
            grid-template-columns: 45% 52% 3%;
            background-color : transparent;
        }
        .main-bannerset2-1{
            display : flex;
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            justify-content: space-between;
            align-items: center;
            background-color : transparent;
        }


        .mbirightgrid {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        
        }

        .main-banner-item-leftgirdset{
            display : grid;
            grid-template-rows: 15% 15% 10% 15% 45% ;
            grid-template-columns: 100%;
            background-color : transparent;

        
        }
        .mbirightgrid-set{
            display : grid;
            grid-template-rows: 70% 30%;
            grid-template-columns: 100%;
            background-color : transparent;

        
        }
        .mbirightgrid-set-up{
            display : flex;
            justify : center;
            align-items: center;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            background-color: transparent;
            margin-top : 10px;
            width : 100%;
            height : 100%;
        }


        .mbirightgrid-set-under{
            display : flex;
            justify-content: space-between;
            background-color : transparent;
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            margin-top : 20px;
            padding:15px;
        }
        .hide-somthing {
            background-color : transparent;
            color : transparent;
        }
        
    
        .mbirightgrid-under-button {
            display : flex;
            justify-content: center;
            align-items: center;
            width : 40px;
            height : 40px;
            background-color: rgba(220, 230, 245, 0.9);
            border-radius: 50%;
            cursor : pointer;
        }



        .mbirightgrid-under-box {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 140px;
            height: 40px;
            background-color: rgba(220, 230, 245, 0.9);
            border-radius: 25px;
        }
        
        .set-radio {
            appearance: none;
            width: 8px;
            height: 8px;
            background-color: #c1cfe4;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
        
        .set-radio:checked {
           background-color: rgb(0, 50, 155);
           border-color: blue; 
        }

        .mbirightgrid-under-box label {
            background-color: transparent !important;
        }
        .start-button-set {
            appearance: none;
            width: 8px;
            height: 8px;
            background-color: #c1cfe4;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
        }
        
        
        .mbirightgrid-under-button label {
            background-color: transparent !important;
        }


        .main-banner-left-item-dataSearch{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            text-align: center; 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: rgb(0, 50, 155);
            font-size: 24px;
            font-weight: 700;
        }

        .main-banner-left-item-information{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            text-align: center; 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            background-color: transparent;
            color: rgb(0, 50, 155);
            font-size: 14px;
            font-weight: 300;
        }

        .main-banner-left-lastitemGrid{
            display :grid;
            grid-column: 1 / 2;
            grid-row: 5 / 6;
            width : 100%;
            height : 100%;
            background-color : transparent;
            grid-template-columns: 10% 22% 26% 22% 18%;
            grid-template-rows: 100% ;
            
        }
        .main-banner-left-lastitemGridtoflex1{
            display : flex;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            background-color : transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main-banner-left-lastitemGridtoflex2{
            display : flex;
            grid-column: 3 / 4;
            grid-row: 1 / 2;
            background-color : transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .main-banner-left-lastitemGridtoflex3{
            display : flex;
            grid-column: 4 / 5;
            grid-row: 1 / 2;
            background-color : transparent;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
        }
        .main-banner-left-lastflex-picture{
            width: 25%;
            height: 20%;
        }
       
        .main-banner-left-lastitemGridtoflexfont{
            font-size : 28px;
            font-weight : 800;
            color: rgb(0, 50, 155);
            cursor : pointer;
        }
        .main-banner-left-lastitemGridtoflexfont2{
            font-size : 14px;
            color: #6784be ;
        }


        .main-banner-item-picturebox{
            position: relative;
            grid-column: 3 / 4;
            grid-row: 2 / 3;
            background-color : transparent;
            width: 100%;
            height: 100%;
            display: grid;
            align-items: center; 
            justify-items: center;
        }

        .main-banner-item-picture{
        
            width: 90%;
            height: 90%;
            border-radius: 20px;
            
        }

        .main-banner-item-box {
          /* 부모 요소를 기준으로 자식의 위치를 지정 */
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            color: rgb(40, 40, 40);
            background-color: transparent;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            border-radius: 10px;
            overflow: visible; /
        }
        
        .bannerset{
            width: 100%;
            height: 100%;
            margin-left: 10px;
            margin-right: 10px;
            border-radius: 30px;
        }



        .main-banner-right-itembox{
            display : grid;
            grid-template-columns: 100;
            grid-template-rows: 80% 20% ;
        }

        .main-banner-right-item{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }

        .main-bannersearch {
            grid-column: 1 / 2;
            grid-row: 4 / 5;
            background-color: transparent;
            display: flex;
            justify-content: row;
            align-items: center;
            gap : 15px;
            margin-left : 18px;
            height : 46px;

            
        }
        
        .main-bannersearchbar {
            background-color: white;
            color: black;
            font-size: 16px;
            width : 70%;
            height : 100%;
            border-radius: 5px;
            gap: 10px;
        }

        .main-banner-dataSearch{
            color: rgb(0, 50, 155);
            font-size: 20px;
            font-weight: 700;
        }
        .main-banner-leftgird{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            width: 100%;
            height: 100%;
            display: flex;
        }
        .search-button {
            background-color: rgb(0, 50, 155);
            color: white;
            font-size: 14px;
            
            padding: 13px 24px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid #dcdcdc;
        }
        
        .search-button:hover {
            background-color: rgb(0, 40, 125);
        }


        /* 토글 버튼 스타일 */
        .toggle-button {
            position: relative;
            display: inline-block;
            width: 50px;
            height: 50px;
            cursor: pointer;
            background-color: rgb(0, 50, 155);
        }
   
        
        /* 체크박스 숨기기 */
        .toggle-button input[type="checkbox"] {
            display: none;
        }
        
  
        /* 1번 섹션 끝 */


        /* 2번째 섹션 */
        .main-second-section{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            background-color: white;
            width : 1200px;
            height: 380px;
        }
        .main-font-second-section-font1 {
            font-weight : 700;
            color : rgb(40,40,40);
            font-size : 20px;
            
         }
    


        .main-font-second-section-font2 {
           
            color : #999;
            font-size : 15px;
        }
        
        .main-second-box{
            display : flex;
            width: 200px;
            height: 270px;
            background-color: white;
            
            border-radius: 3%;
            cursor : pointer;
            box-shadow: 
            0px -1px 0px rgba(0, 0, 0, 0.05),
            -1px 0px 0px rgba(0, 0, 0, 0.1), 
            1px 0px 0px rgba(0, 0, 0, 0.1),  
            0px 4px 2px rgba(0, 0, 0, 0.2);
        }

        .main-second-box:hover{
            box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
            text-decoration-line : underline;
            text-decoration-color : black;
            text-decoration-thickness: 1px;
        }
        .main-second-img{
            
           
            border-radius: 50%;
           
        }
        .borderradius{
            border-radius : 5%;
        }
        .allowbox-mainbanner {
           
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: rgb(60, 60, 60);
            background-color: rgb(252, 255, 252);
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
            font-size: 23px;
          
        }

        .allowbox-mainbanner:hover{
            color: rgb(0,80,150);
        }

        .allowbox-mainbanner.left {
            left: 10px; 
            top: 50%; 
            transform: translateY(-50%);
        }
        
       
        .allowbox-mainbanner.right {
            right: 10px; 
            top: 50%;
            transform: translateY(-50%); 
        }

        .main-arrow-box{
            
            display: flex;
            align-items: center; 
            justify-content: center; 
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: rgb(60,60,60);
            background-color: rgb(252, 255, 252);
            box-shadow:  4px 4px 8px rgba(0, 0, 0, 0.2);
            font-size: 23px;
            
            
        }
        .arrowset {
            width : 50%;
            height : 50%;
            background-color: transparent;
            
        }

        .main-arrow-box:hover{
            color: rgb(0,80,150);
        }
     
        
        .main-third-section{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center; 
            justify-content: center;
            background-color : transparent;
            gap: 10px;
            width : 1200px;
            height: 470px;
        }
       
       
        .main-third-fakebox{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 500px;;
            height: 100px;
            
            color: rgb(40, 40, 40);
            background-color: rgb(244, 244, 244);
            font-weight: 800;
            font-size: 24px;
            
        }

        .main-third-box{
            display: grid;
            align-items: center; 
            justify-content: center; 
            width: 500px;
            height: 90px;
            cursor : pointer;
            color: rgb(40, 40, 40);
            background-color: rgb(252, 255, 252);
            box-shadow: 
            0px -1px 0px rgba(0, 0, 0, 0.05),
            -1px 0px 0px rgba(0, 0, 0, 0.1), 
            1px 0px 0px rgba(0, 0, 0, 0.1),  
            0px 2px 0px rgba(0, 0, 0, 0.13);
            font-size: 23px;
            border-radius : 7px;
            
        }
        .main-third-box:hover{
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        }

        .main-third-box-grid{
            grid-template-columns: 4% 11% 5% 75% 5%; 
            grid-template-rows: 20% 5% 30% 20% 5% 20%;
        }
        .main-icon-box {
            display : flex;
            grid-column: 2 / 3;
            grid-row: 2 / 6;
            background-color : #224da0;
            border-radius : 3px;
            width : 100%;
            height : 100%;
            justify-content: center;
            align-items: center;
            
        }
        .main-icon-box2 {
            display : flex;
            grid-column: 2 / 3;
            grid-row: 2 / 6;
            background-color : #6ec3ee;
            border-radius : 3px;
            width : 100%;
            height : 100%;
            justify-content: center;
            align-items: center;
            
        }
        
        .main-icon-font {
            background-color : transparent;
            font-weight : 700;
            color : rgb(255,255,255);
            font-size : 20px;
        }

        .main-icon-font2 {
            background-color : transparent;
            width : 50%;
            height : 50%;
            color : rgb(255,255,255);
            font-size : 20px;
        }

        .main-icon-img {
            background-color : transparent;
            font-weight : 700;
            color : rgb(255,255,255);

        }
        .main-third-upfontbox {
            justify-content: center;
            align-items: center;
            grid-column: 4 / 5;
            grid-row: 3 / 4;
            width : 100%;
            height : 100%;
        }
        .main-third-upfont {
          
            background-color : transparent;
            width : 100%;
            height : 100%;
            justify-content: start;
            align-items: center;
            font-size : 14px;
            font-weight : 500;
        }
        .main-third-downfontbox {
            display : grid;
            grid-template-rows: 100% ;
            grid-template-columns: 18% 82%;
            justify-content: center;
            align-items: center;
            grid-column: 4 / 5;
            grid-row: 4 / 5;
            width : 100%;
            height : 100%;
            gap : 3px;
        }
        .main-third-downfontbox-1{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width : 100%;
            height : 100%;
            box-shadow: 
            0px 0px 0px rgba(0, 0, 0, 0.05),
            0px 0px 0px rgba(0, 0, 0, 0.1), 
            1px 0px 0px rgba(0, 0, 0, 0.1),  
            0px 0px 0px rgba(0, 0, 0, 0.13);
            font-size :10px;
            color: rgb(130, 130, 130);
        
        }
        .main-third-downfontbox-2{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width : 100%;
            height : 100%;
            font-size :11px;
            color: rgb(130, 130, 130);
           
        }
        .main-third-downfont {
          
            background-color : transparent;
            width : 100%;
            height : 100%;
            justify-content: start;
            align-items: center;
            font-size : 11px;
        }
      


        /* 4번째 섹션 */
        
        .main-fourth-section{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center; 
            justify-content: center;
            background-color : transparent;
            gap: 10px;
            width : 1200px;
            height: 470px;
        }
        
        
        .main-fourth-fakebox{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 500px;;
            height: 100px;
            
            color: rgb(40, 40, 40);
            background-color: transparent;
            font-weight: 800;
            font-size: 24px;
            
        }
        .main-fourth-fakebox2{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 500px;;
            height: 100px;
            
          
        }
        .main-fourth-fakefont{
            color: rgb(120,120,120);
            background-color: transparent;
            font-weight: 800;
            font-size: 15px;
            cursor : pointer;
        }
        
        .main-fourth-box{
            display: grid;
            align-items: center; 
            justify-content: center; 
            width: 500px;
            height: 90px;
            cursor : pointer;
            
            color: rgb(40, 40, 40);
            background-color: rgb(252, 255, 252);
            box-shadow: 
            0px -1px 0px rgba(0, 0, 0, 0.05),
            -1px 0px 0px rgba(0, 0, 0, 0.1), 
            1px 0px 0px rgba(0, 0, 0, 0.1),  
            0px 2px 0px rgba(0, 0, 0, 0.13);
            font-size: 23px;
            border-radius : 7px;
            
        }
        .main-fourth-box:hover{
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        }
        
        .main-fourth-box-grid{
            grid-template-columns: 4% 11% 5% 75% 5%; 
            grid-template-rows: 20% 5% 30% 20% 5% 20%;
        }
        .main-icon-box4 {
            display : flex;
            grid-column: 2 / 3;
            grid-row: 2 / 6;
            background-color : transparent;
            border-radius : 3px;
            width : 100%;
            height : 100%;
            justify-content: center;
            align-items: center;
            
        }
        .main-icon-box4-2 {
            display : flex;
            grid-column: 2 / 3;
            grid-row: 2 / 6;
            background-color : #6ec3ee;
            border-radius : 3px;
            width : 100%;
            height : 100%;
            justify-content: center;
            align-items: center;
            
        }
        
        .main-icon-font4 {
            background-color : transparent;
            font-weight : 700;
            color : rgb(255,255,255);
            font-size : 20px;
        }
        
        .main-icon-font4-2 {
            background-color : transparent;
            width : 50%;
            height : 50%;
            color : rgb(255,255,255);
            font-size : 20px;
        }
        
        .main-icon-img4 {
            background-color : transparent;
            font-weight : 700;
            color : rgb(255,255,255);
        
        }
        .main-fourth-upfontbox {
            justify-content: center;
            align-items: center;
            grid-column: 4 / 5;
            grid-row: 3 / 4;
            width : 100%;
            height : 100%;
        }
        .main-fourth-upfont {
          
            background-color : transparent;
            width : 100%;
            height : 100%;
            justify-content: start;
            align-items: center;
            font-size : 14px;
            font-weight : 500;
        }
        .main-fourth-downfontbox {
            display : grid;
            grid-template-rows: 100% ;
            grid-template-columns: 18% 82%;
            justify-content: center;
            align-items: center;
            grid-column: 4 / 5;
            grid-row: 4 / 5;
            width : 100%;
            height : 100%;
            gap : 3px;
        }
        .main-fourth-downfontbox-1{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width : 100%;
            height : 100%;
            box-shadow: 
            0px 0px 0px rgba(0, 0, 0, 0.05),
            0px 0px 0px rgba(0, 0, 0, 0.1), 
            1px 0px 0px rgba(0, 0, 0, 0.1),  
            0px 0px 0px rgba(0, 0, 0, 0.13);
            font-size :10px;
            color: rgb(130, 130, 130);
        
        }
        .main-fourth-downfontbox-2{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            width : 100%;
            height : 100%;
            font-size :11px;
            color: rgb(130, 130, 130);
           
        }
        .main-fourth-downfont-1 {
          
            background-color : transparent;
            width : 100%;
            height : 100%;
            justify-content: start;
            align-items: center;
            font-size : 11px;
        }
        

        /* 5번째 섹션 */
        
        .main-fifth-section{
            display: grid;
            grid-template-columns: 5% 30% 30% 30% 5%;
            grid-template-rows: 6% 6% 6% 37% 37% 8% ;
            background-color: rgb(244, 244, 244);
            width : 1200px;
            height: 740px;
    
            gap : 15px;
        }    

        .main-fifth-box-item{
    
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            font-size: 25px;
            background-color: transparent;
            color: rgb(80, 80, 80);
            font-weight: 700;
        }

        .main-fifth-box-item1 {
            display : grid;
            grid-template-columns: 100; 
            grid-template-rows: 60% 30% 10%;
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            font-size: 25px;
            background-color: transparent;
            color: rgb(80, 80, 80);
            font-weight: 700;
        }
        .main-fifth-box-item2 {
            display : grid;
            grid-template-columns: 100;  
            grid-template-rows: 60% 30% 10%;
            grid-column: 3 / 4;
            grid-row: 4 / 5;
            font-size: 25px;
            background-color: transparent;
            color: rgb(80, 80, 80);
            font-weight: 700;
            width : 100%;
            height : 100%
        }
        .main-fifth-box-item3 {
            display : grid;
            grid-template-columns: 100;  
            grid-template-rows: 60% 30% 10%;
            grid-column: 4 / 5;
            grid-row: 4 / 5;
            font-size: 25px;
            background-color: transparent;
            color: rgb(80, 80, 80);
            font-weight: 700;
        }
        .main-fifth-box-item4 {
            display : grid;
            grid-template-columns: 100;  
            grid-template-rows: 60% 30% 10%;
            grid-column: 2 / 3;
            grid-row: 5 / 6;
            font-size: 25px;
            background-color: transparent;
            color: rgb(80, 80, 80);
            font-weight: 700;
        }
        .main-fifth-box-item5 {
            display : grid;
            grid-template-columns: 100;  
            grid-template-rows: 60% 30% 10%;
            grid-column: 3 / 4;
            grid-row: 5 / 6;
            font-size: 25px;
            background-color: transparent;
            color: rgb(80, 80, 80);
            font-weight: 700;
        }
        .main-fifth-box-item6 {
            display : grid;
            grid-template-columns: 100;  
            grid-template-rows: 60% 30% 10%;
            grid-column: 4 / 5;
            grid-row: 5 / 6;
            font-size: 25px;
            background-color: transparent;
            color: rgb(80, 80, 80);
            font-weight: 700;
        }
        .main-fifth-box-item1-1:hover {
          cursor:pointer;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        }
        .main-fifth-box-item1-1 {
            display : grid;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            grid-template-columns: 100%;
            grid-template-rows: 60% 40%;
            border-radius : 5px;
            width: 100%;
            height: 100%;
            background-color: rgb (250,0,0);
            box-shadow: 
            0px 0px 0px rgba(0, 0, 0, 0.05),
            0px 0px 0px rgba(0, 0, 0, 0.1), 
            2px 0px 0px rgba(0, 0, 0, 0.1),  
            0px 2px 0px rgba(0, 0, 0, 0.13);
        }
        .main-fifth-box-item1-1outline {
            display : grid;
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            width: 100%;
            height: 100%;
        }
        .main-fifth-box-item1-2 {
          
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            width: 100%;
            height: 100%;
            background-color: black;
            border-top-left-radius: 3%;
            border-top-right-radius: 3%;
            

        }
        .main-fifth-box-item1-3 {
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            background-color: transparent;
            align-items: center; 
            justify-content: start;
            width: 95%;
            height: 95%;
            display : grid;
            grid-template-columns:10% 80% 10%;
            grid-template-rows:  30% 25% 5% 10% 30%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;

        }
        .main-fifth-box-item1-3-2 {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            align-items: center; 
            justify-content: start;
            width: 100%;
            height: 100%;
        }
        .main-fifth-box-item1-3-3 {
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            align-items: center; 
            justify-content: start;
            width: 100%;
            height: 100%;
        }


        .main-fifth-box-item1-3fontup{
            font-size: 16px;
            font-weight: 500; 
            color : black;
            width: 100%;
            height: 100%;
        }
        .main-fifth-box-item1-3fontdw{
            font-size: 12px;
            font-weight: 400; 
            color: rgb(160, 160, 160);
          
        } 


        
        /* 6번째 섹션  */

  
        .main-sixth-section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center; 
            justify-content: center;
            background-color: transparent;
            gap: 5px;
            width: 1200px;
            height: 460px;
        }
        
        .main-sixth-fakebox {
            display: grid;
            width: 530px;
            height: 100px;
            background-color: transparent;
            font-weight: 700;
            font-size: 22px;
            grid-template-columns: 50% 50%;
            grid-template-rows: 100%;
            
        }
        .main-sixth-fakebox1-1{
            grid-column: 1 / 2;
            grid-row: 1 / 2;
            display : flex;
            align-items: center; 
            justify-content: start;
            margin-left : 25px;
            font-weight: 700;
            font-size: 22px;
        
    
        }
        .main-sixth-fakebox1-2{ font-weight: 700;
            font-size: 22px;
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            display : flex;
            align-items: center; 
            justify-content: end;
            margin-right : 20px;
        
        }
        .main-sixth-fakebox1-1-font{
            color: rgb(40, 40, 40);

        }
        .main-sixth-fakebox1-2-font{
            color: rgb(120, 120, 120);
            background-color: transparent;
            font-weight: 800;
            font-size: 14px;
            cursor : pointer;
        }
        .main-sixth-box {
            display: grid;
            align-items: center; 
            justify-content: center; 
            width: 500px;
            height: 90px;
            color: rgb(40, 40, 40);
            background-color: rgb(252, 255, 252);
            box-shadow: 
                0px -1px 0px rgba(0, 0, 0, 0.05),
                -1px 0px 0px rgba(0, 0, 0, 0.1), 
                1px 0px 0px rgba(0, 0, 0, 0.1),  
                0px 2px 0px rgba(0, 0, 0, 0.13);
            font-size: 23px;
            border-radius: 7px;
            grid-template-columns: 3% 92% 5%;
            grid-template-rows: 20% 30% 5% 25% 10%;
            align-items: center; 
            justify-content: start;
            cursor : pointer;
        }
        .main-sixth-box-fontbox1{
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            width: 100%;
            height : 100%;
            
        } 
        .main-sixth-box-fontbox2{
            grid-column: 2 / 3;
            grid-row: 4 / 5;
            width: 100%;
            height : 100%;
        } 
        .main-sixth-box-fontbox1-font{
            font-size: 15px;
            font-weight: 500; 
            
        }
        .main-sixth-box-fontbox2-font{
            font-size: 12px;
            color: rgb(130, 130, 130);
          
        } 
        .main-sixth-box:hover {
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        }



        /* 7번째 css 시작 */

        .main-seventh-section{
        width : 1200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: white;
        height: 380px;
        
        }

        .main-seventh-section-a{
        border: 1px solid #e1e1e1;
        border-radius: 100%;
        width:40px;
        text-align:center;
        height:40px;
        color: gray;
        padding:6px;
        font-weight:bold;
        }

        .main-seventh-section-a:hover{
            color: blue;
        }



        
        