/* 메인 이미지 */
.main-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.main-image img {
    width: 100%;
    height: auto;
}

.sidebar {
    grid-area: sidebar;
}

.main-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 20px; 
    margin-left: 1.5rem;
}

.main-title {
    font-size: 2rem;
    font-weight: 700;
}


.donut-graphs {
    margin: 1rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}