* {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Grid Layout */
.container { 
    display: grid;
    grid-template-columns: 1fr 4.5fr !important;  
    grid-template-areas: 
        "sidebar main";
    gap: 20px;
    min-height: calc(100vh - 100px); /* 헤더와 푸터 높이를 제외한 전체 높이 */
    font-size: 0.9rem;
}

/* Wrapper for center alignment */
.wrapper {
    background-color: white !important;
    max-width: 1600px; /* 페이지 전체 너비 조절 */
    margin: 0 auto; 
    padding: 0 180px; 
}