<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제주데이터허브</title>
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-logo">
            <hr>
            <img src="../images/components/datahub-logo-removebg-preview.png" alt="JEJU Data Hub Logo">
            <div class="footer-info">
                
                <p>(63309) 제주특별자치도 제주시 청사로 10 제주 데이터허브센터 | 064-710-3933 | jejudatahub@email.com</p>
                <p>&copy; Jeju Data Hub, 2020</p>
            </div>
        </div>
    </footer>
</body>
</html>